In [17]:
import logging

import pandas as pd
from sqlalchemy import create_engine

from ppcluster.config import ConfigManager

logger = logging.getLogger("ppcx")

config = ConfigManager()
db_engine = create_engine(config.db_url)

query = """
SELECT 
    DIC.id as dic_id,
    DIC.reference_date as date
FROM ppcx_app_dic DIC
JOIN ppcx_app_image IMG ON DIC.master_image_id = IMG.id
JOIN ppcx_app_camera CAM ON IMG.camera_id = CAM.id
WHERE CAM.camera_name = 'PPCX_Tele'
    AND DIC.reference_date >= '2024-06-01'
    AND DIC.reference_date <= '2024-09-01'
    AND DIC.dt_hours >= 72 AND DIC.dt_hours <= 96
"""
df = pd.read_sql(query, db_engine)
df

    dic_id        date
0     1757  2024-06-01
1     1760  2024-06-02
2     1763  2024-06-03
3     1766  2024-06-04
4     1769  2024-06-05
..     ...         ...
76     896  2024-08-28
77     899  2024-08-29
78     902  2024-08-30
79     905  2024-08-31
80     908  2024-09-01

[81 rows x 2 columns]